<div class="p-8 max-w-md mx-auto text-center">

  <button {{action "changeWord"}}
    class="bg-blue text-white rounded shadow px-3 py-2 font-semibold focus:outline-none focus:shadow-outline"
  >
    Change word
  </button>

  <div class="mt-8">

    {{#animated-value this.word use=this.transition as |value|}}
      <p class="leading-none inline-block text-3xl font-bold overflow-hidden">
        {{value}}
      </p>
    {{/animated-value}}

  </div>

</div>