<div class="w-screen h-screen">
  <div class="max-w-sm mx-auto pt-4 text-sm">
    <ul class="list-reset">
      {{#animated-each this.genres use=this.transition as |genre|}}
        <li class="flex bg-teal text-white mb-4 px-3 pt-2 pb-1 text-gray">
          <span>
            {{genre}}
          </span>
          <span class="ml-auto">
            <button {{action "remove" genre}} class="px-2 py-1">
              {{fa-icon "times"}}
            </button>
          </span>
        </li>
      {{/animated-each}}
    </ul>
  </div>
</div>