<AnimatedTools />

<ul class="flex p-8">
    <li class="mr-6">
        {{#link-to '1-animated-if'}}
            Animated If
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '2-animated-each'}}
            Animated Each
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '3-iphone-apps'}}
            iPhone Apps
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '4-animated-value'}}
            Animated Value
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '5-animated-beacon'}}
            Animated Beacon
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '6-between-lists'}}
            Between Lists
        {{/link-to}}
    </li>
    <li class="mr-6">
        {{#link-to '7-selected-item'}}
            Selected Item
        {{/link-to}}
    </li>
</ul>


{{outlet}}

